<form>
  <div *ngFor="let term of equation.terms; let i = index">
    <ng-container *ngIf="term.type === 'variable'">
      <label for="variable{{ i }}">Variable {{ i + 1 }}:</label>
      <input type="text" id="variable{{ i }}" [name]="'variable'+i" [(ngModel)]="term.value">
    </ng-container>

    <ng-container *ngIf="term.type === 'constant'">
      <label for="constant{{ i }}">Constant {{ i + 1 }}:</label>
      <input type="text" id="constant{{ i }}" [name]="'constant'+i" [(ngModel)]="term.value">
    </ng-container>

    <ng-container *ngIf="term.type === 'operator'">
      <label for="operator{{ i }}">Operator {{ i + 1 }}:</label>
      <select id="operator{{ i }}" [name]="'operator'+i" [(ngModel)]="term.value">
        <option value="+">+</option>
        <option value="-">-</option>
        <option value="*">*</option>
        <option value="/">/</option>
      </select>
    </ng-container>
  </div>

  <button type="button" (click)="generateEquation()">Generate Equation</button>
</form>
