

<div style="width: 100px;height: 100px;padding: 30px;">
  <div *ngIf="type === 'variable'">
    <select (change)="changeTerm($event)">
      <option value="-1" selected disabled>Select one </option>
      <option *ngFor="let o of terms" [value]="o.name">{{o.name}}</option>
    </select>
  </div>
  <div *ngIf="type === 'operator'">
    <select (change)="changeTerm($event)">
      <option value="-1" selected disabled>Select one </option>
      <option *ngFor="let o of operators" [value]="o.symbol">{{o.symbol}}</option>
    </select>
  </div>
  <div *ngIf="type === 'constant'">
    <label for="">Number </label>
    <input (change)="changeTerm($event)" type="number" />
  </div>
  
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Done</button>
  </div>  
</div>